.place__button {
    grid-area: button;
    background: #0278fe;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.125rem;
    line-height: normal;
    padding: 13px 20px;
    margin: 0 1rem;
    height: max-content;
}

.place__button:hover {
    background: #0063d2;
}

@media screen and (min-width: 768px) {
    .place__button {
        margin: 0;
    }
}

@media screen and (min-width: 360px) {
    .place__button {
        width: 18rem;
    }
}