.lead__subtitle {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    margin: 1rem auto;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .lead__subtitle {
        padding: 0 1rem;
    }
}

@media screen and (min-width: 768px) {
    .lead__subtitle {
        margin: 2rem auto;
        font-size: 1.875rem;
        line-height: 2.25rem;
        max-width: 793px;
    }
}