@import url(./__item/photo-grid__item.css);

.photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 1rem;
    gap: 1rem;
}

@media screen and (min-width: 420px) {
    .photo-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 768px) {
    .photo-grid {
        margin: 0 1.5rem;
        gap: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .photo-grid {
        grid-template-columns: repeat(4, 1fr);
        margin: 0 3rem;

    }
}