.left {
    text-align: end;
    margin: 0 0 16px;
}

@media screen and (max-width: 768px) {
    .left {
        margin: 0 0 21px;
    }
}

@media screen and (max-width: 320px) {
    .left {
        margin: 0 0 30px;
    }
}