.intro {
    font-style: normal;
    max-width: 984px;
}

@media screen and (min-width:984px) {
    .intro {
        margin: 0 auto;
    }
}

@media screen and (min-width:1280px) {
    .intro {
        width: 984px;
    }
}