@import url(./__title/intro__title.css);
@import url(./__subtitle/intro__subtitle.css);
@import url(./__text/intro__text.css);
@import url(./__container/intro__container.css);

.intro {
    font-style: normal;
    max-width: 984px;
}

@media screen and (min-width:984px) {
    .intro {
        margin: 0 auto;
    }
}

@media screen and (min-width:1280px) {
    .intro {
        width: 984px;
    }
}