.place__artist {
    grid-area: artist;
    display: grid;
    margin: 0 1rem;
    gap: 8px;
}

@media screen and (min-width: 768px) {
    .place__artist {
        margin: 0;
        gap: 0.5rem;
        align-items: end;
        align-content: end;
    }
}