.place__artist-heading {
    display: block;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.12em;
    color: #aaaaaa;
    text-transform: uppercase;
    margin-bottom: 8px;
}

@media screen and (max-width: 568px) {
    .place__artist-heading {
        margin-bottom: 12px;
        line-height: 15px;
        letter-spacing: 0.2em;
    }
}